
.banner {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/spotycaa.appspot.com/o/SlipknotBanner.jpg?alt=media&token=34fe012c-f8e0-4047-90bb-f4351bed719e");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 30%;
}

.icono {
  font-size: 80px;
}
